td {FONT-SIZE: 9pt; FONT-FAMILY: "굴림","돋움"; LINE-HEIGHT: 14pt}

.white8 {FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: "arial","굴림","돋움"}
.white9 {FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "굴림","돋움"}

.gray8 {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: "굴림","돋움"}
.gray9 {FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "굴림","돋움"}

.red9 {FONT-SIZE: 9pt; COLOR: #950000; FONT-FAMILY: "굴림","돋움"}

.chart8 {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: "helvetica","arial"; LINE-HEIGHT: 10pt}

A {COLOR: #000000; TEXT-DECORATION: none}
A:hover {COLOR: #0082FB; TEXT-DECORATION: none}

A.blue_u {COLOR: #006380; TEXT-DECORATION: underline}
A.blue_u:hover {COLOR: #FF9000; TEXT-DECORATION: none}

A.list {COLOR: #953800; TEXT-DECORATION: none}
A.list:hover {COLOR: #40646C; TEXT-DECORATION: none}

A.chart1 {FONT-SIZE: 8pt; COLOR: #006380; FONT-FAMILY: "helvetica","arial"; TEXT-DECORATION: none}
A.chart1:hover {FONT-SIZE: 8pt; COLOR: #FF9000; FONT-FAMILY: "helvetica","arial"; TEXT-DECORATION: none}


BODY   
{scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #888888; 
scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #888888; 
scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #F4F4F4; 
scrollbar-arrow-color: #FFFFFF}
